@import url(core.css);

// .welcome {
//   height: 100vh;
//   .image_human {
//     position: relative;
//     margin: 50px;
//     img {
//       position: absolute;
//       top: 0;
//       left: 0;
//     }
//     .ness {
//       position: relative;
//     }
//   }
//   div {
//     h3 {
//       color: rgba(0, 0, 0, 0.5);
//     }
//   }
// }

// .circle {
//   padding: 10px 13px;
//   border: 1px solid rgb(21, 182, 7);
//   border-radius: 50%;
// }

// #go,
// #email {
//   border: 1px solid rgb(82, 82, 82);
// }

// .circles {
//   flex-direction: column;
//   flex-flow: column;
//   max-width: 100px;
//   margin: 10px;
//   transition: 500ms ease;
//   center span {
//     margin: 10px 0;
//   }
// }

// .video {
//   width: 50%;
//   min-width: 280px;
//   margin: 50px auto;
// }
// #signup,
// #email {
//   position: relative;
// }

// #email {
//   transition-delay: 500ms;
//   transition: 500ms ease;
// }

// #signup:after,
// #email:after {
//   content: "";
//   height: 1px;
//   width: 10px;
//   background: rgb(21, 182, 7);
//   position: absolute;
//   top: 50%;
//   left: 40px;
//   transition: 500ms ease;
//   transform: rotate(-180deg);
// }

// #email:after {
//   width: 0;
//   right: -57px;
//   transition-delay: 500ms;
// }

// // .landing-input {
// //   padding: 10px 20px;
// //   border: 1px solid #ebebeb;
// //   border-radius: 6px;
// //   outline: none;
// //   transition: 500ms ease;
// //   font-size: 18px;
// //   max-width: 100px;
// //   text-align: center;
// //   margin: 20px auto 10px auto;
// //   overflow: hidden;
// // }

// // .landing-input:hover,
// // .landing-input:focus {
// //   border: 1px solid #000000;
// // }

// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }
// input[type="number"] {
//   -moz-appearance: textfield;
// }

// center {
//   .d-flex {
//     h4 {
//       color: rgba(0, 0, 0, 0.5);
//     }
//     h3 {
//       color: rgba(0, 0, 0, 0.8);
//     }
//   }
// }

// .position-rel {
//   .fa-question {
//     position: absolute;
//     right: 15px;
//     top: 50%;
//     color: rgba(0, 0, 0, 0.5);
//     border: none;
//     background: none;
//     box-sizing: border-box;
//     transition: 500ms;
//     &:hover,
//     &:focus {
//       transform: scale(1.5);
//     }
//   }
//   .go {
//     position: absolute;
//     color: green;
//     top: 45%;
//     right: 50%;
//     z-index: -1;
//     transition: 500ms ease;
//     font-size: 20px;
//   }

//   .go.active {
//     right: -20px;
//     z-index: 0;
//   }
// }

// .mw-150 {
//   max-width: 150px;
// }

// .popup {
//   width: 100vw;
//   height: 100vh;
//   background: #000000bb;
//   position: fixed;
//   top: -100%;
//   left: 0;
//   z-index: 2000;
//   transition: 500ms ease;
// }

// .popup.active {
//   top: 0;
// }

// .container_popup {
//   width: 300px;
//   height: 40%;
//   background: #fff;
//   text-align: center;
//   padding: 10px;
// }
// .close {
//   position: absolute;
//   top: 20px;
//   right: 5px;
//   width: 50px;
//   height: 50px;
//   transition: 500ms;
//   transform-origin: right;
//   &:hover span:after,
//   &:hover span:before {
//     transform: rotate(360deg);
//   }
//   span {
//     background: #000000;
//     width: 20px;
//     height: 1px;
//     position: relative;
//     &:after,
//     &:before {
//       position: absolute;
//       content: "";
//       width: 20px;
//       height: 1px;
//       background: #000000;
//       left: 0;
//       transition: 500ms ease;
//     }
//     &:after {
//       transform: rotate(45deg);
//     }
//     &:before {
//       transform: rotate(-45deg);
//     }
//   }
// }

font{
	font-size: 18px;
}

.inform {
  margin: 100px 0;
}

.lesson-header {
  padding: 20px;
  background: linear-gradient(to bottom right, #4a66a8, #6588b4);
  min-height: 50px;
  position: relative;
  color: #fff;
  margin: 80px 0 0 0;
  font-size: 18px;
  text-align: center;
  .course-info {
    width: 100%;
    .d-flex.column {
      align-items: flex-end;
    }
  }
  h1 {
    padding: 0;
    font-size: 1.8rem;
    margin: 10px 0;
  }
}
.a {
  // background: linear-gradient(to bottom right, #4a66a8, #6588b4);
  padding: 10px 10px 10px 30px;
  a {
    color: rgb(0, 0, 0);
    opacity: 0.7;
    transition: all 0.3s ease;
    position: relative;
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

.back-to-courses {
  position: relative;
  &::before {
    content: "<";
    font-size: 19px;
    position: absolute;
    top: 0px;
    left: 0;
  }
  padding: 0 0 0 12px;
  margin: 0 3px;
}

.avatar {
  width: 40px;
  height: 40px;
  border: 1px solid #00000094;
  border-radius: 50%;
  margin-right: 10px;
  background: url(/img/bg4.jpg);
  background-size: cover;
  background-position: center center;
}

.lessons {
  align-items: flex-start;
  position: relative;
  .summary {
    top: 80px;
    position: sticky;
    position: -webkit-sticky;
    background: #fff;
    align-self: flex-start;
    padding: 100px 20px 10px 10px;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: left;
    width: 15%;
    min-width: 200px;
    margin: 0 50px 0 0;
    .summary-list {
      width: 100%;
      padding: 10px 10px 20px 10px;
      position: relative;
      transition: all 0.3s ease;
      &::after {
        content: "";
        position: absolute;
        left: 10px;
        top: 70%;
        width: 95%;
        height: 5px;
        border-radius: 6px;
        background: rgb(223, 223, 223);
      }
    }
    .header-summary {
      position: relative;
      font-size: 18px;
      padding: 5px;
      margin: 0 0 10px 0;
      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: -10%;
        width: 130%;
        height: 1px;
        background: rgb(168, 168, 168);
      }
    }
  }
}

.summary::-webkit-scrollbar {
  width: 5px;
}

.summary::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.summary::-webkit-scrollbar-thumb {
  background: rgb(201, 201, 201);
}

.lessons-list {
  max-width: 50%;
  .lesson-info {
    border: 1px solid #ebebeb;
    padding: 5px;
    border-radius: 3px;
    margin: 10px;
    transition: all 0.3s ease;
    font {
      margin: 30px 0 0 0;
    }
    .lesson-info-header {
      padding: 10px 10px 10px 0;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        width: 99%;
        height: 1px;
        left: 0%;
        background: #ebebeb;
      }
      a {
        font-size: 16px;
        padding: 0;
        margin: 0;
        h2 {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}

.mark {
  transform: scale(1.05);
  transition: all 0.3s ease;
}
.lesson-wrapper.fullpage {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  margin: 0;
  left: 0;
  z-index: 20;
  border-radius: 0;
}

.lesson-wrapper {
  width: 90%;
  height: 100%;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  border-radius: 6px;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  .lesson-nav {
    position: relative;
    list-style: none;
    width: 50px;
    background: linear-gradient(to bottom right, #4a66a8, #6588b4);
    height: 100%;
    z-index: 1;
    text-align: center;
    padding: 15px 0;
    .nav-item.fa-play {
      font-size: 14px;
      font {
        font-size: 16px;
      }
    }
    .nav-item {
      color: #ffffff;
      padding: 5px 0;
      font-size: 16px;
      margin: 5px 0;
      transition: all 0.2s ease;
      width: 100%;
      pointer-events: all;
      cursor: pointer;
      &:hover {
        color: rgb(0, 0, 0);
      }
    }
    .nav-item.completed {
      color: #62d85e;
    }

    .arrow-left {
      position: relative;
      color: #000;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        transition: all 0.2s ease;

        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;

        border-right: 8px solid #fff;
      }
    }

    .description,
    .process {
      display: none;
    }

    .fa-arrow-right {
      position: absolute;
      top: 15px;
      width: auto;
      transition: all 0.2s ease;
      color: #ffffff;
      padding: 5px 0;
      font-size: 16px;
      margin: 5px 0;
      cursor: pointer;
      &:hover {
        background: none;
        color: #000;
      }
    }
    .fa-long-arrow-right {
      position: absolute;
		bottom: 15px;
		color: #fff;
		&:hover {
			color: #000;
		 }
      a {
			color: #fff;
			transition: all 0.3s ease;
		  font-family: "Open Sans", sans-serif;
		  &:hover {
			color: #000;
		 }
      }
    }
  }
  .content-area {
    width: calc(100% - 50px);
    height: calc(100% - 30px);
    padding: 30px 10px;
    background: #fff;
    font-size: 16px;
    .lesson-content:first-child {
      display: block;
    }
    .lesson-content {
      display: none;
    }
    .video-wrapper {
      width: 80%;
      margin: 0 auto;
      video {
        width: 100%;
      }
    }
    .expand {
      position: absolute;
      top: 10px;
      right: 10px;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.3);
      }
    }
    .expand.compress {
      transform: scale(1.2);
      &:hover {
        transform: scale(1);
      }
    }
  }

  .lesson-nav.full {
    width: 200px;
    .process {
      display: block;
      position: relative;
      width: 150px;
      height: 2px;
      border-radius: 5px;
      overflow: hidden;
      background: rgb(255, 255, 255);
      margin: 0 0 15px 0;
      &::after {
        content: "";
        background: #62d85e;
        position: absolute;
        width: 25%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
    .description {
      display: inline;
    }
    .fa-arrow-right {
      transform: rotate(180deg);
      transform-origin: center;
    }
  }
}

.block_about{
	min-width: 300px;
	width: 300px;
	overflow: hidden;
	margin:2px;
	position: relative;
	height: 100%;
	transition: all 0.3s ease;
	.image{
		width: 100%;
		img{
			width: 100%;
			object-fit: cover;
		}
	}
	&:hover{
		.information{
			top: 0;
		}
	}
}

.secondary-slider{
	width: 100%;
	min-width: 100%;
	.slick-slide{
		max-width: 100%;
		width: 100%;
		.d-flex.wrap{
			display: flex;
			width: 100%;
			max-width: 100%;
		}
	}
	.d-flex.wrap{
		margin: 10px;
	}
	.image{
		width:10%;
		min-width: 300px;
		margin: 0 20px;
		img{
			width: 100%;
		}
	}		
}

.information{
	width: 300px;
	height: 100%;
	position: absolute;
	top: -100%;
	left: 0;
	background: #313131bb;
	color: #fff;
	text-align: center;
	transition: all 0.3s ease;
	font{
		font-size: 18px;
		margin: 5px 0;
		padding: 5px;
	}
}
 
 /* Ограничивающая оболочка */
 .slick-list {
	overflow: hidden;
 }
 /* Лента слайдов */
 .slick-track {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease;
 }

 /* Слайд */
.slick-slide{
	max-width: 300px;
	margin: auto;
}

/* Слайд основной */
.slick-slide.slick-current{
	transform: scale(1.05);
	transition: all 0.3s ease;
}

.slick-dots {
	display: flex;
	justify-content: center;
	align-items: center;
 }
 .slick-dots li {
	list-style: none;
	margin: 0 10px;
 }
 /* Активная точка */
 .slick-dots li.slick-active button {
	background: #818181;
 }
 /* Элемент точки */
 .slick-dots li button {
	font-size: 0;
	width: 10px;
	height: 10px;
	background: #d8d8d8;
	border-radius: 50%;
	border: none;
	outline: none;
	transform: scale(0.7);
	cursor: pointer;
	transition: all 0.3s ease;
 }

.crew{
	padding: 0;
	min-width: 0;
	text-align: center;
	width: 100%;
	margin: 0;
	.image{
		width: 100%;
		img{
			width: 100%;
		}
	}
	h1{
		margin: 0 0 10px 0;
	}
	font{
		font-size: 18px;
		margin: 0 0 20px 0;
		text-align: center;
		max-width: 40%;
	}
}

@media (max-width: 630px) {
  .lesson-header {
    h1 {
      font-size: 1.6rem;
    }
  }
}

@media (max-width: 560px) {
  .lessons .summary {
    position: relative;
    top: 0;
    left: 0;
  }
  .lessons-list {
    max-width: 90%;
  }
}
